
.product-container{
    margin-top: 128px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}
.product-single-image{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}
.product-single-image img{
    width: 100%;
    border-radius: 10px;
}
.product-content{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}
.product-price{
    margin-top: 2rem ;
    font-weight: 500;
    font-size: 18px;
}
.wrapper-content .product-desc{
    margin-top: 1rem;
}

.product-color{
    width: 16px;
    height: 16px;
    margin-right: 16px;
    border-radius: 50%;
    margin-top: 16px;
}
.product-colors{
    display: flex;
    justify-content: flex-start;
}